:root {
  /* Color tokens */
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  /* Spacing tokens */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  /* Typography tokens */
  --font-family-outfit: "Outfit", sans-serif;
}

/* Typography utility classes */
.text-outfit-regular {
  font-family: var(--font-family-outfit);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.text-outfit-bold {
  font-family: var(--font-family-outfit);
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* Layout styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-300);
}

.qr-container {
  position: relative;
  background-color: var(--color-white);
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
}

.qr-image {
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

.qr-text-container {
  padding: 0 var(--spacing-200);
}

.qr-title {
  text-align: center;
  color: var(--color-slate-900);
  margin-bottom: var(--spacing-200);
}

.qr-description {
  text-align: center;
  color: var(--color-slate-500);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(55px);
  width: 320px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
